doctype html
html 
  head 
    title NRITYA SHAKTI
    block scripts 
    block style   
  body 
    nav#navbar.top
     ul 
      div#logo 
        img(src="/static/img/logo.png")
        | NRITYA SHAKTI
      li #[a(href="/") HOME]
      li #[a(href="/") ABOUT]
      li #[a(href="/") SERVICES]
      li #[a(href="/") CLASS INFO]
      li #[a(href="/contact" ,target="_blank") CONTACT US ]

    block content
    footer#footer
                |All rights reserved © 2020 www.nrityashakti.com