doctype html
html
  head
    title NRITYA SHAKTI
    style
      include ../static/style.css 
         
    script 
      include ../static/index.js  
  body 
  nav#navbar.top
    ul 
      div#logo 
        img(src="/static/img/logo.png")
        | NRITYA SHAKTI
      li #[a(href="/") HOME]
      li #[a(href="/") ABOUT]
      li #[a(href="/") SERVICES]
      li #[a(href="/") CLASS INFO]
      li #[a(href="/") CONTACT US ]

  section#introsection
                     div "We are not just a dance school... We are an experience."
                     div NRITYA SHAKTI | POWER OF DANCE 
  section#mission
                 h2 OUR MISSION
                 div.card  
                    h3 Dance perfection 
                    div.card-box 
                        div.card-img 
                            img(src="/static/img/first.png")
                        div.card-content 
                           p This is the best dance academy of the universe     
                 div.card  
                    h3 Dance the way you like 
                     div.card-box 
                        div.card-img 
                            img(src="/static/img/second.png")
                        div.card-content 
                           p This is the best dance academy of the universe   
                 div.card  
                    h3 Expert teaching  
                     div.card-box 
                        div.card-img 
                            img(src="/static/img/third.png")
                        div.card-content 
                           p This is the best dance academy of the universe  
  section#sponser
                    h3.hen  OUR SPONSORS
                    div#client 
                       img(src="/static/img/apple.jpg",alt="sponsors image" , class="spimage")
                       img(src="/static/img/adobe.png",alt="sponsors image" , class="spimage")
                       img(src="/static/img/chrome.png",alt="sponsors image" , class="spimage")
                       img(src="/static/img/kalu.jpeg",alt="sponsors image" , class="spimage")
                       img(src="/static/img/skype.png",alt="sponsors image" , class="spimage")

  footer#footer
                |All rights reserved © 2020 www.nrityashakti.com
                       
 
